body {
  overflow-x: hidden;
  font: normal 14px/22px $site-font;
  color: #333;
  h1,h2,h3,h4,h5,h6 {
    color: #333;
  }
}
.content-inner {
  max-width: $max-width;
  margin: 0 auto;
}
.title {
  color: $title-blue;
}
.title-green {
  color: $title-green;
}
.h1 {
  font: 300 30px $site-font;
}
.head2 {
  font: 600 36px/36px $site-font;
  text-transform: uppercase;
}
.head3 {
  font: 700 18px/22px $site-font;
  text-transform: uppercase;
}
.head4 {
  font: 700 16px/16px $site-font;
  text-transform: uppercase;
}
small {
  font: normal 11px/22px $site-font;
  color: #53717a;
}
a:focus {
  text-decoration: none;
}
.container {
  @include breakpoint (tablet) {
    width: auto;
    min-width: 734px;
    max-width: 973px;
    padding-left: 17px;
    padding-right: 17px;
  }
}

button.navbar-toggle.default-btn {
      background: #e6f3d1;
      text-align: center;
      color: $title-green!important;
      transition: all 0.3s;
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 15px;
      white-space: nowrap;
      &:hover {
        background: #5ea15a;
        color: #fff!important;
      }
      &:focus {
        outline: none;
        background: #5ea15a!important;
        color: #fff!important;
      }
    }
