header {
	text-transform: uppercase;
	.site-logo {
		margin-top: 10px;
	}
	.site-description {
		&__title {
			font-size: 16px;
			line-height: 48px;
			text-align: justify;
			color: #777;
			padding-left: 7px;
		}
		&__base{
			color: #9cc280;
			float: left;
			padding-left: 7px;
		}
		&__contacts {
			float: right;
			width: 41.6665%;
		}
		&__mail {
			float: left;
			width: 60%;
			text-align: right;
		}
		&__phone {
			float: right;
			width: 40%;
			text-align: right;
		}
	}
}