/*
Notice:

Some styles and importants needs for rewrite bootstrap def

*/

nav.navbars {
  width: calc(100% - 63px);
  float: left;
  background: none;
  border: 0;
  margin-top: 13px;
  .navbar-collapse {
    padding: 0;
  }
  .site-nav {
    width: 100%;

    @include breakpoint (tablet-desktop) {
      display: table;
      &__item {
        display: table-cell;
        float: none;
        padding-right: 16px;
        width: 25%;
        &.dropdown::after {
          content: "";
          display: table;
          height: 15px;
          width: 100%;
          background: #5ea15a;
          opacity: 0;
          transition: all 0.3s;
          //ointer-events: none;
        }
        &:hover {
          &.dropdown::after {
            opacity: 1;
          }
        }
      }
    }

    &__link {
      background: #e6f3d1;
      text-align: center;
      color: $title-green!important;
      transition: all 0.3s;
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 15px;
      white-space: nowrap;
      &.hovered {
        background: #5ea15a!important;
        color: #fff!important;
      }
      &:focus {
        outline: none;
        background: #5ea15a!important;
        color: #fff!important;
      }
    }

    .dropdown-menu {
      box-shadow: none;
      border: 1px solid #5ea15a;
      border-top: 5px solid #5ea15a;
    }

  }
}

.site-option {
    width: 63px;
    float: right;
    margin-top: 18px;
    &__search {
      @include sprite('img/option-sprite.png', 20, 21, 0, 0);
      float: right;
    }
    &__download {
      @include sprite('img/option-sprite.png', 20, 21, 0, 1);
      float: right;
      margin-left: 23px;
      &:before {
        width: 15px;
      }
    }
  }


