@mixin clearfix {
  &:after {
  content: "";
  display: table;
  clear: both;
  }
}

/*Descriptions
$path - url to sprite img
$width - width of the single image in target sprite
$height - height of the single image
$row and $cell - amount of rows and cells in sprite
0 - eq. the first
1 - second, etc
( look at your sprite like it would be the table )*/

@mixin sprite($path, $width, $height, $row, $cell) {
  &::before {
  content: "";
  display: block;
  width: $width+px;
  height: $height+px;
  background: url($path) (-$cell * $width)+px (-$row * $height)+px no-repeat;
  }
}

/*Ad hone line after title
you have to wrap text by span before apply that
for examp: <h2 class="target"><span><span><h2>*/

@mixin hone($background: #fff) {
  overflow:hidden;
  position:relative;
  span {
    z-index: 2;
    position: relative;
    background: $background;
  }
  &:before {
    bottom: 1px;
    position:absolute;
    z-index: 1;
    color: #e8e8e8;
    content: "_________________________________________________________________________________________________________________________________________________________________________________________________________________________________";
  }
}

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 992px) { @content; }
  }
  @if $point == tablet {
    @media (min-width: 768px) and (max-width: 991px) { @content; }
  }
  @if $point == tablet-desktop {
    @media (min-width: 768px) { @content; }
  }
  @if $point == mobile {
    @media (max-width: 767px) { @content; }
  }
  @if $point == small-mobile {
    @media (max-width: 480px) { @content; }
  }
  @if $point == mobile-tablet {
    @media (max-width: 991px) { @content; }
  }
}

/*small ---> 480px*/
