.slider,
.slider-production {
  max-width: $max-width;
  margin: 0 auto;
  &__item {
    height: 360px;
  }
  &--active {
    z-index: 25;
  }
}

.slider-first {
  background: url(images/slider_easy.jpg) center center no-repeat;
  &__title {
    text-align: center;
    color: #000;
    font-size: 18px;
    margin-bottom: 190px;
  }
  &__left {
    text-align: right;
  }
  &__right {
    text-align: center;
    line-height: 16px;
    color: #000;
    white-space: nowrap;
  }
}
.slider-second {
  background: url(images/slider_easy.jpg) center center no-repeat;
}
.slider-third {
  background: url(images/slider_easy.jpg) center center no-repeat;
}
.slider-fourth{
  background: url(images/slider_easy.jpg) center center no-repeat;
}

/* Arrows */

$arrows-url: 'img/arrows-sprite.png';

.slick-prev {
  @include sprite($arrows-url, 23, 40, 0, 0);
}

.slick-next {
  @include sprite($arrows-url, 23, 40, 0, 1);
}

.slider-wrapp:hover .slick-prev,
.slider-wrapp:hover .slick-next{
  opacity: 1;
}
.slick-prev,
.slick-next {
  opacity: 0;
  transition: opacity 0.4s;
  z-index: 1;
}


.slick-next {
  right: 32px;
}

.slick-prev {
  left: 32px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 0; // del. default arrows
}

/* Dots */

$dots-url: 'img/slider-dots.png';
.slick-dots {
  bottom: 5px;
  li button::before,
  li.slick-active button:before {
    opacity: 1;
  }
  li button {
    @include sprite($dots-url, 14, 14, 0, 1);
  }
  li button:hover {
    @include sprite($dots-url, 14, 14, 0, 0);
  }
  li.slick-active button {
    @include sprite($dots-url, 14, 14, 0, 0);
  }
}


/* SLIDER 2 ( with production ) */

.slider-wrapp {
  position: relative;
  .slider-production-wrap {
    position: absolute;
    top: 0;
    width: 100%;
  }
}
.slider-production {
  &__item {
    background: #daf3fa;
  }
}

.production-list{
  &__title {
    font: 600 30px/30px $site-font;
    color: $title-blue;
    text-align: center;
    text-transform: uppercase;
    padding: 22px 0;
  }
  &__item {
    margin-bottom: 22px;
  }
  .product {
    background: #fff;
    position: relative;
    padding: 7px;
    height: 100px;
    &__title {
      font: 700 18px/20px $site-font;
      color: $title-blue;
      &:hover {
        color: $title-green;
        text-decoration: none;
      }
    }
    &__description {
      display: block;
      font: normal 14px/16px $site-font;
      color: $site-grey;
      padding: 10px 0 5px;
    }
    &__img {
      position: absolute;
      right: 0;
      top: -41px;
    }
  }
}


/* NAVIGATTOR */

.navigator {

  $grey-gradient: radial-gradient(ellipse at center,  #ffffff 0%,#f9f9f9 29%,#f0f0f0 60%,#ebebeb 100%);
  $blue-gradient: radial-gradient(ellipse at center,  #f2fcff 0%,#eefafe 25%,#e7f8fd 50%,#dff5fb 75%,#dbf4fb 100%);

  height: 230px;
  padding: 5px 7px;
  position: relative;
  cursor: pointer;
  &--first {
    background: url(images/preview_1.png) bottom left no-repeat, $grey-gradient;
    text-align: right;
    &.active {
      background: url(images/preview_1.png) bottom left no-repeat, $blue-gradient;
    }
  }
  &--second {
    background: url(images/preview_2.png) bottom left no-repeat, $grey-gradient;
    text-align: center;
    &.active {
      background: url(images/preview_2.png) bottom left no-repeat, $blue-gradient;
    }
  }
  &--third {
    background: url(images/preview_3.png) bottom left no-repeat, $grey-gradient;
    text-align: center;
    &.active {
      background: url(images/preview_3.png) bottom left no-repeat, $blue-gradient;
    }
  }
  &--fourth {
    background: url(images/preview_4.png) bottom right no-repeat, $grey-gradient;
    text-align: left;
    &.active {
      background: url(images/preview_4.png) bottom right no-repeat, $blue-gradient;
    }
  }
  &__slide-block {
    display: none;
    padding: 85px 7px 0;
    height: 230px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,78,36,.8);
    z-index: 2;
    width: 100%;
    .slide-menu {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: left;
      &__item {
        padding: 0 12px 8px;
        background: url(img/list-stile-lime.png) 0 8px no-repeat;
      }
      &__link {
        color: #fff;
        text-decoration: underline;
        line-height: 18px;
        display: inline-block;
          &:hover {
            text-decoration: none;
            color: #e6f3d1;
          }
      }
    }
    &--last {
      padding: 65px 7px 0;
    }
  }
  &__title {
    line-height: 18px;
    color: $site-grey;
    position: relative;
    z-index: 5;
    transition: all 0.4s;
    .head {
      font: 600 20px/29px $site-font;
      color: $title-green;
      transition: all 0.4s;
    }
    &--closed {
      color: #e6f3d1!important;
      .head {
        color: #fff!important;
      }
    }
    &:hover {
      color: $title-blue;
      text-decoration: none;
      .head {
        color: $title-blue;
      }
    }
  }
  &.active {
    .navigator__title {
      color: $title-blue;
      .head {
        color: $title-blue;
      }
    }
  }
}
