/* Fonts */
$site-font: 'Open Sans', sans-serif;

/* Bkg colors */
$soft-grey: #f2f2f2;

/* Color */
$site-grey: #545454;
$title-green: #0f6939;
$title-blue: #0a6886;

/*Layout*/
$max-width: 1200px;

/* Bootstrap */

/*$container-desktop: (960px + $grid-gutter-width);

$container-large-desktop: $container-desktop;

$grid-gutter-width: 14px;*/
