/* Fonts */
$site-font: 'Open Sans', sans-serif;

/* Bkg colors */

/* Color */
$site-grey: #545454;

/*Layout*/
$max-width: 1200px;

/* Bootstrap */

/*$container-desktop: (960px + $grid-gutter-width);

$container-large-desktop: $container-desktop;

$grid-gutter-width: 14px;*/
